
.home-content{
    /* background-color:midnightblue; */
    height: 500px;
    width: 40%;
    margin: 2%;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
}

.home-content:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-content h2{
    text-align: center;
    text-decoration: underline;
}

.home-content p{
    margin: 2%;
    font-size: 20px;
    margin-top: 10%;
    font-family:Palatino Linotype;
    /* color: yellow; */
    line-height: 1.6;
    text-align: left;
}
.home-content p span{
    font-weight: bold;
}

.home{
    display:flex;
}


@media only screen and (max-width: 745px){
.home-content {
    width: 700px;
}

}