.navbar-list{
    margin: 0;
    background-color:white;
    height: 60px;
    overflow-x: hidden;
    overflow-y: hidden;

    li{
        display: inline;

        i{
            cursor: pointer;
            position:relative;
            top: 20px;
            display: none;

            @include respond(tab-port){
                display: inline;
            }

            @include respond(phone){
                display: inline;
            }

            @include respond(small-phone){
                display: inline;
            }
        }

        .link{
            position: relative;
            top: 20px;
            margin-left: 2%;
            // font-family: 'Ubuntu';
            font-size:20px;
            text-decoration: none;
            color: black;

            @include respond(tab-port){
                display: none;
            }

            @include respond(phone){
                display: none;
            }

            @include respond(small-phone){
                display: none;
            }
        }

        .link:hover{
            text-decoration: underline;
          }
        
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;


    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    a:hover{
        color: #f1f1f1;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
        color: white;
      }
  }