.home{

    height: 400px;
    width: 50%;
    margin: 2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    border-radius: 10px;

    &:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    @include respond(phone){
        width: 80%;
    }

    @include respond(tab-port){
        width: 80%;
    }

    &-image{
        text-align: center;
        padding: 1rem 0;

        img{
            width:12em;
            height: 12em;
            object-fit: cover;
            border-radius: 6em;
        }
        
    }

    &-content{
        p{
            margin:1rem;

            a{
                font-weight: bold;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.social{
    display: flex;
    justify-content: center;

    .icon{
        cursor: pointer;

        img{
            width: 50px;
            margin: 10px;
        }

        &:hover{
            img{
            width:60px;
            transition: width 0.2s;
            }
        }
    }


}